llama-cpp-python
python-dotenv>=1.0.0
requests
numpy
PyQt6>=6.5.0
psutil
pyttsx3
speechrecognition
pyinstaller
fastapi>=0.100.0
uvicorn>=0.23.0
pydantic
pyaudio
huggingface_hub==0.34
sentence-transformers==3.0.1
transformer== 4.44
pgvector>=0.2.0  
# optional, only if using PostgreSQL with pgvector
python-multipart
PyGithub>=2.0.0
openai-whisper
